.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%;
  margin:auto;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  z-index: 2;
  padding:20px;

}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color:gray;
  opacity:1;
}

.hiddenContent{
  width: 50%;
  margin:auto;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  z-index: 1;
}

.hiddenContent #hiddenContentImg{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#controls div{
  width: 50%;
  margin: auto;
  text-align: center;
}

